    <section class='about'>

      <font  size="8" color="red"><b><%= notice %></b></font>
      <br>      <!-- お問合せありがとうございました！-->
      <h1>Instagram風アプリ</h1>
      <p>
        友達の写真や動画をチェックしよう<br><br><br>
      </p>
      <img src="<%= asset_path "top.JPG" %> ">

    <section class="function container-fluid">
        <div class="row">
            <h1>Function</h1><br>
            <div class="function-images">
                <div class= "col-md-3 col-sm-6">
                    <div class="function-image">
                        <img src="<%= asset_path "contact.JPG" %> ">
                        <p>お問い合わせフォーム</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                     <div class="function-image">
                        <img src="<%= asset_path "pictures.JPG" %> ">
                        <p>pictures</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="function-image">
                        <img src="<%= asset_path "support.JPG" %> ">
                        <p>サポート</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="function-image">
                        <img src="<%= asset_path "press.jpg" %> ">
                        <p>プレス</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-top-btn" class="page-top-btn">
            <p><a class="move-page-top" id="move-page-top">▲</a></p>
        </div>
    </section>


 <!--
   <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>
 -->
