<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <!-- 中央寄せにするため、wrapperでブログ画面をかこむ -->


<p id="notice"><%= notice %></p>

<h1>pictures</h1>

<%= link_to "画像を投稿する", new_picture_path, class: 'btn btn-default' %>

<table>
  <thead>
    <tr>
      <th>投稿日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <div class="row">
        <h3><%= picture.date %></h3>
        <h3><strong><%= picture.user.name %></strong></h3>
        <h4><%= profile_img(picture.user) %></h4>
        <h4><%= '　　　' %></h4>
        <%= link_to '詳細', picture, class: 'btn btn-default btn-sm btn-info' %>
        <%= link_to '編集', edit_picture_path(picture), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to '削除', picture, method: :delete, data: { confirm: '本当に削除していいですか？' },class: 'btn btn-default btn-sm btn btn-danger' %>
      </div>
    <% end %>
  </tbody>
</table>

</div>
</div>
